table {
  background: white;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
tr {
  border-bottom: 1px solid lightgray;
}

td,
th {
  padding: 15px 10px;
  text-align: left;
  vertical-align: middle;
}
tbody tr:hover {
  background: #d6d6e88c;
  transition: 1s;
}
thead {
  background: #937ca8;
  color: white;
}
a.btnlink {
  background: #efefef;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid;
  color: #937ca8;
  cursor: pointer;
}
i.far.fa-trash-alt {
  font-size: 18px;
  color: #937ca8;
  padding: 3px 0;
  cursor: pointer;
}

.action {
  display: flex;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    overflow-x: auto;
  }
}
