<div class="container-fluid">
  <div class="flex-col">
    <h2>Users List</h2>
    <span>
      <a class="btnstyle" [routerLink]="['/user/create/']">Add a New User</a>
    </span>
  </div>
  <ng-container>
    <div class="success-message" *ngIf="isDeleted">
      <p>Successfully Deleted!!</p>
    </div>
  </ng-container>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td class="action">
          <a
            class="btnlink"
            title="User details"
            [routerLink]="['/user/details', user.id]"
            routerLinkActive="active"
            ><i class="far fa-user"></i
          ></a>
          <a
            title="Edit User"
            class="btnlink"
            [routerLink]="['/user/update', user.id]"
          >
            <i class="fas fa-user-edit"></i
          ></a>
          <button
            class="delete-button"
            title="Delete User"
            type="button"
            (click)="deleteUser(user.id)"
          >
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
