.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #7c6790;
  padding: 0 65px;
  color: #fff;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row;
}

li {
  margin: 0 15px;
  font-size: 18px;
  cursor: pointer;
}

li:hover {
  font-weight: 800;
  transform: 2s ;
  text-decoration: underline;

}

strong {
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {padding: 10px;}
  li{font-size: 14px;}
  strong{font-size: 16px;}
}
