<div class="container bg-white" *ngIf="isDataLoaded">
  <div class="flex-col">
    <h2>Update {{ user.name }}'s Info</h2>
    <span>
      <a class="btnstyle" [routerLink]="['/user']">Go Back</a>
    </span>
  </div>
  <div class="col-4">
    <form [formGroup]="userUpdateForm" (ngSubmit)="submitForm()">
      <div class="form-control">
        <div class="col-1">
          <label for="name">Name <span class="alert-danger">*</span> </label>
        </div>
        <div class="col-3">
          <input
            [(ngModel)]="user.name"
            formControlName="name"
            id="name"
            type="text"
          />
          <div
            *ngIf="
              userUpdateForm.controls['name'].invalid &&
              (userUpdateForm.controls['name'].dirty ||
                userUpdateForm.controls['name'].touched)
            "
          >
            <span *ngIf="userUpdateForm.controls['name'].errors?.['required']">
              Name is required.
            </span>
          </div>
        </div>
      </div>
      <div class="form-control">
        <div class="col-1">
          <label for="username"
            >Username <span class="alert-danger">*</span></label
          >
        </div>
        <div class="col-3">
          <input
            [ngModel]="user.username"
            formControlName="username"
            id="username"
            type="text"
          />
          <div
            class="alert-danger"
            *ngIf="
              userUpdateForm.controls['username'].invalid &&
              (userUpdateForm.controls['username'].dirty ||
                userUpdateForm.controls['username'].touched)
            "
          >
            <span
              *ngIf="userUpdateForm.controls['username'].errors?.['required']"
            >
              Username is required.
            </span>
          </div>
        </div>
      </div>

      <div class="form-control">
        <div class="col-1">
          <label for="phone"
            >Phone Number <span class="alert-danger">*</span>
          </label>
        </div>
        <div class="col-3">
          <input
            [(ngModel)]="user.phone"
            formControlName="phone"
            id="phone"
            type="text"
          />
          <p
            *ngIf="
              userUpdateForm.controls['phone'].invalid &&
              (userUpdateForm.controls['phone'].dirty ||
                userUpdateForm.controls['phone'].touched)
            "
            class="alert-danger"
          >
            <span *ngIf="userUpdateForm.controls['phone'].errors?.['required']">
              Phone Number is required.
            </span>
          </p>
        </div>
      </div>
      <div class="form-control">
        <div class="col-1">
          <label for="email">Email <span class="alert-danger">*</span> </label>
        </div>
        <div class="col-3">
          <input
            [(ngModel)]="user.email"
            formControlName="email"
            id="email"
            type="text"
          />
          <p
            *ngIf="
              userUpdateForm.controls['email'].invalid &&
              (userUpdateForm.controls['email'].dirty ||
                userUpdateForm.controls['email'].touched)
            "
            class="alert-danger"
          >
            <span *ngIf="userUpdateForm.controls['email'].errors?.['required']">
              Email is required.
            </span>
          </p>
        </div>
      </div>
      <div class="form-control">
        <div class="col-1">
          <label for="website">Website</label>
        </div>
        <div class="col-3">
          <input
            formControlName="website"
            id="website"
            type="text"
            [(ngModel)]="user.website"
          />
        </div>
      </div>
      <div formGroupName="address">
        <div class="form-control">
          <div class="col-1">
            <label>Street</label>
          </div>
          <div class="col-3">
            <input [(ngModel)]="user.address.street" formControlName="street" />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>Suite</label>
          </div>
          <div class="col-3">
            <input [(ngModel)]="user.address.suite" formControlName="suite" />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>City</label>
          </div>
          <div class="col-3">
            <input [(ngModel)]="user.address.city" formControlName="city" />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>Zipcode</label>
          </div>
          <div class="col-3">
            <input
              [(ngModel)]="user.address.zipcode"
              formControlName="zipcode"
            />
          </div>
        </div>
      </div>
      <div formGroupName="company">
        <div class="form-control">
          <div class="col-1">
            <label>Company Name</label>
          </div>
          <div class="col-3">
            <input [(ngModel)]="user.company.name" formControlName="name" />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>Catch Phrase</label>
          </div>
          <div class="col-3">
            <input
              [(ngModel)]="user.company.catchPhrase"
              formControlName="catchPhrase"
            />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>Company BS</label>
          </div>
          <div class="col-3">
            <input [(ngModel)]="user.company.bs" formControlName="bs" />
          </div>
        </div>
      </div>
      <div class="form-control">
        <button
          [disabled]="userUpdateForm.invalid"
          class="btnstyle col-2 mt-3 mb-3"
          type="submit"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
