<div class="container">
  <h1>Create New User</h1>
  <div class="col-12 bg-white">
    <form [formGroup]="userUpdateForm" (ngSubmit)="submitForm()">
      <div class="row">
        <label class="col-3" for="name">Title:</label>
        <input
          class="col-7"
          [(ngModel)]="user.name"
          formControlName="name"
          id="name"
          type="text"
        />
        <div
          *ngIf="
            userUpdateForm.controls['name'].invalid &&
            (userUpdateForm.controls['name'].dirty ||
              userUpdateForm.controls['name'].touched)
          "
          class="alert-danger"
        >
          <div *ngIf="userUpdateForm.controls['name'].errors?.['required']">
            Name is required.
          </div>
        </div>
      </div>

      <div class="row">
        <label class="col-3" for="username">Username</label>
        <input
          class="col-7"
          formControlName="username"
          id="username"
          type="text"
          [(ngModel)]="user.username"
        />
        <div
          *ngIf="
            userUpdateForm.controls['username'].invalid &&
            (userUpdateForm.controls['username'].dirty ||
              userUpdateForm.controls['username'].touched)
          "
          class="alert-danger"
        >
          <div *ngIf="userUpdateForm.controls['username'].errors?.['required']">
            Username is required.
          </div>
        </div>
      </div>

      <div class="row">
        <label class="col-3" for="phone">Phone Number</label>
        <input
          class="col-7"
          [(ngModel)]="user.phone"
          formControlName="phone"
          id="phone"
          type="text"
        />
        <div
          *ngIf="
            userUpdateForm.controls['phone'].invalid &&
            (userUpdateForm.controls['phone'].dirty ||
              userUpdateForm.controls['phone'].touched)
          "
          class="alert-danger"
        >
          <div *ngIf="userUpdateForm.controls['phone'].errors?.['required']">
            Phone Number is required.
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-3" for="email">Email</label>
        <input
          class="col-7"
          [(ngModel)]="user.email"
          formControlName="email"
          id="email"
          type="text"
        />
        <div
          *ngIf="
            userUpdateForm.controls['email'].invalid &&
            (userUpdateForm.controls['email'].dirty ||
              userUpdateForm.controls['email'].touched)
          "
          class="alert-danger"
        >
          <div *ngIf="userUpdateForm.controls['email'].errors?.['required']">
            Email is required.
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-3" for="website">Website</label>
        <input
          class="col-7"
          formControlName="website"
          id="website"
          type="text"
          [(ngModel)]="user.website"
        />
      </div>
      <div formGroupName="address">
        <div class="row">
          <label class="col-3">Street</label>
          <input
            class="col-7"
            [(ngModel)]="user.address.street"
            formControlName="street"
          />
        </div>
        <div class="row">
          <label class="col-3">Suite</label>
          <input
            class="col-7"
            [(ngModel)]="user.address.suite"
            formControlName="suite"
          />
        </div>
        <div class="row">
          <label class="col-3">City</label>
          <input
            class="col-7"
            [(ngModel)]="user.address.city"
            formControlName="city"
          />
        </div>
        <div class="row">
          <label class="col-3">Zipcode</label>
          <input
            class="col-7"
            [(ngModel)]="user.address.zipcode"
            formControlName="zipcode"
          />
        </div>
      </div>
      <div formGroupName="company">
        <div class="row">
          <label class="col-3">Company Name</label>
          <input
            class="col-7"
            [(ngModel)]="user.company.name"
            formControlName="name"
          />
        </div>
        <div class="row">
          <label class="col-3">Catch Phrase</label>
          <input
            class="col-7"
            [(ngModel)]="user.company.catchPhrase"
            formControlName="catchPhrase"
          />
        </div>
        <div class="row">
          <label class="col-3">Company BS</label>
          <input
            class="col-7"
            [(ngModel)]="user.company.bs"
            formControlName="bs"
          />
        </div>
      </div>
      <div>
        <span class="col-3"> </span>
        <button
          [disabled]="userUpdateForm.invalid"
          class="btnstyle col-3"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
