label,
input {
  padding: 10px 5px;
  margin: 8px 8px 8px 0;
  font-size: 1em;
}
h1 {
  padding: 20px 0;
  text-align: center;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 60%;
}
input {
  border: 1px solid gainsboro;
}
.col-7:focus,
.col-3:focus {
  border: 0;
}

@media screen and (max-width: 768px) {
  label,
  input,
  .col-7,
  .col-3 {
    width: 100%;
  }
  .container {
    width: 90%;
  }
  label {padding: 0 0 0 10px;}
  .form-control {flex-flow: column; padding: 0 10px 10px 10px;}
}
