<div class="container bg-white">
  <h2>Create a New User</h2>

  <div class="col-4">
    <form [formGroup]="userAddForm" (ngSubmit)="submitForm()" id="userAddForm">
      <div class="form-control">
        <div class="col-1">
          <label for="name">Name <span class="alert-danger">*</span> </label>
        </div>
        <div class="col-3">
          <input formControlName="name" id="name" type="text" />
          <div
            *ngIf="
              userAddForm.controls['name'].invalid &&
              (userAddForm.controls['name'].dirty ||
                userAddForm.controls['name'].touched)
            "
          >
            <span *ngIf="userAddForm.controls['name'].errors?.['required']">
              Name is required.
            </span>
          </div>
        </div>
      </div>

      <div class="form-control">
        <div class="col-1">
          <label for="username"
            >Username <span class="alert-danger">*</span></label
          >
        </div>
        <div class="col-3">
          <input formControlName="username" id="username" type="text" />
          <div
            class="alert-danger"
            *ngIf="
              userAddForm.controls['username'].invalid &&
              (userAddForm.controls['username'].dirty ||
                userAddForm.controls['username'].touched)
            "
          >
            <span *ngIf="userAddForm.controls['username'].errors?.['required']">
              Username is required.
            </span>
          </div>
        </div>
      </div>

      <div class="form-control">
        <div class="col-1">
          <label for="phone"
            >Phone Number <span class="alert-danger">*</span></label
          >
        </div>
        <div class="col-3">
          <input formControlName="phone" type="text" />
          <div
            class="alert-danger"
            *ngIf="
              userAddForm.controls['phone'].invalid &&
              (userAddForm.controls['phone'].dirty ||
                userAddForm.controls['phone'].touched)
            "
          >
            <span *ngIf="userAddForm.controls['phone'].errors?.['required']">
              Phone Number is required.
            </span>
          </div>
        </div>
      </div>

      <div class="form-control">
        <div class="col-1">
          <label for="email">Email <span class="alert-danger">*</span></label>
        </div>
        <div class="col-3">
          <input formControlName="email" id="email" type="text" />
          <p
            class="alert-danger"
            *ngIf="
              userAddForm.controls['email'].invalid &&
              (userAddForm.controls['email'].dirty ||
                userAddForm.controls['email'].touched)
            "
          >
            <span *ngIf="userAddForm.controls['email'].errors?.['required'], ">
              Email is required.
            </span>
          </p>
        </div>
      </div>

      <div class="form-control">
        <div class="col-1">
          <label for="username">Website</label>
        </div>
        <div class="col-3">
          <input formControlName="website" type="text" />
        </div>
      </div>
      <div formGroupName="address">
        <div class="form-control">
          <div class="col-1">
            <label>Street</label>
          </div>
          <div class="col-3">
            <input formControlName="street" type="text" />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>Suite</label>
          </div>
          <div class="col-3">
            <input formControlName="suite" type="text" />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>City</label>
          </div>
          <div class="col-3">
            <input formControlName="city" type="text" />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>Zipcode</label>
          </div>
          <div class="col-3">
            <input formControlName="zipcode" type="text" />
          </div>
        </div>
      </div>
      <div formGroupName="company">
        <div class="form-control">
          <div class="col-1">
            <label>Company Name</label>
          </div>
          <div class="col-3">
            <input formControlName="name" type="text" />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>Catch Phrase</label>
          </div>
          <div class="col-3">
            <input formControlName="catchPhrase" type="text" />
          </div>
        </div>
        <div class="form-control">
          <div class="col-1">
            <label>Company BS</label>
          </div>
          <div class="col-3">
            <input formControlName="bs" type="text" />
          </div>
        </div>
      </div>
      <div class="form-control">
        <button
          [disabled]="userAddForm.pristine || userAddForm.invalid"
          class="btnstyle col-1 mt-3 mb-3"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
