<div class="container bg-white" *ngIf="isDataLoaded">
  <div class="flex-col">
    <h2>{{ user.name }} Details</h2>
    <span>
      <a class="btnstyle" [routerLink]="['/user']">Go Back</a>
    </span>
  </div>
  <div class="col-4">
    <div class="col-wrapper">
      <strong class="col-2">ID:</strong>
      <span class="col-2">{{ user.id }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">Name:</strong>
      <span class="col-2">{{ user.name }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">Username:</strong>
      <span class="col-2">{{ user.username }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">Phone:</strong>
      <span class="col-2">{{ user.phone }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">Email:</strong>
      <span class="col-2">{{ user.email }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">Website:</strong>
      <span class="col-2">{{ user.website }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">Street:</strong>
      <span class="col-2">{{ user.address.street }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">Suite:</strong>
      <span class="col-2">{{ user.address.suite }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">City:</strong>
      <span class="col-2">{{ user.address.city }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">Zipcode:</strong>
      <span class="col-2">{{ user.address.zipcode }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2">Company Name:</strong>
      <span class="col-2">{{ user.company.name }}</span>
    </div>
    <div class="col-wrapper">
      <strong class="col-2"> Company Catch Phrase:</strong>
      <span class="col-2">{{ user.company.name }}</span>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
